# Backend
PORT=5000
MONGODB_URI=mongodb+srv://mauryamanish586_db_user:1oViykABACwn5u6Q@cluster0.i7ad6kh.mongodb.net/?appName=Cluster0
JWT_SECRET=change-me-to-a-long-random-string
OPENROUTER_API_KEY=
OPENROUTER_MODEL=openai/gpt-4o-mini
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
CLIENT_URL=http://localhost:5173


# Copyleaks
COPYLEAKS_API_KEY=f05736b1-30f3-4add-8e4c-dace2cd1d550
COPYLEAKS_EMAIL=mauryamanish586@gmail.com
COPYLEAKS_BASE_URL=https://api.copyleaks.com
COPYLEAKS_SANDBOX=true


# Uploads
MAX_FILE_SIZE=5242880

# Runtime
NODE_ENV=development